.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/app/build
.DS_Store
/captures
release.properties
iturrioz.keystore

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


